* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;

}




.khachhang {

    top: -36px;
    right: -35px;
    font-size: 17px;
    position: relative;
}



.dangkibangtien {
    margin-right: -10PX;
    width: 100%;
    background-color: #dcdcdb;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.MAP {
    width: 50%;
}

.MAP iframe {
    width: 90%;
    height: 290px;
}

.chu {
    width: 50%;
}

.linksmall {
    margin-top: 130px;
    padding-top: 5px;
    padding-left: 20px;
    height: 35px;
    position: relative;
    /* z-index: 99999999000000; */
    border-top: 1px solid #dfdfdf;

}

.linksmall a {

    color: #000;
    text-decoration: none;
}

.linksmall a {

    color: #000;
    text-decoration: none;
}

.center {
    display: flex;
    width: 100%;

    margin-top: 30px;
}

.imgcenter {

    display: flex;
    width: 60%;

}

.imgcenter_left {
    padding-left: 50px;
    width: 30%;
    position: relative;

}

.imgcenter_left i {
    left: 55%;
    position: absolute;
    height: 30px;
    width: 30px;
    margin-top: -13px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #bcbcbcab;

}

.imgcenter_right {
    margin-top: 3px;

    width: 100%;

}

.imgcenter_right img {
    margin-left: 8px;
    width: 91%;

}

.imgcenter_left img {
    display: block;
    height: 300px;
    margin-bottom: 5px;

}

.infocenter {
    /* background-color: #010101; */
    width: 40%;
}

.infocenter {
    display: block;
}

.size {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.size {
    width: 400px;
}

.size-button {
    border: 1px solid #ffffff;
    height: 40px;
    margin-right: 20px;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.size-button.active {
    background-color: #d6d6d6;
    color: #ffffff;
}


.divinfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.divinfo-1 {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.divinfo-3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 30px;
    margin-top: 50px;
}

.divinfo-4 {
    font-size: 15px;

    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.divinfo-5 {
    font-size: 15px;

    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.color {
    margin-top: 10px;
}

.selectsize {
    margin-top: 20px;
}

.selectsize a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    /* text-decoration: none; */
    color: #000;
}

.number {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.number .quantity-input {
    font-size: 15px;
    border: 1px solid #000000;

    width: 70px;
    padding: 4px;

}

.dathang {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.dathang button {
    width: 80%;
    height: 40px;
    border: 1px solid #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dathang button {
    margin-bottom: 10px;
    color: #000;
    background-color: #ffffff;
}

.mota {
    margin-top: 20px;
}

.sanpham {
    margin-top: 20px;
    width: 100%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-items: center;
}

.imgslider {

    margin-left: 50px;
    width: 350px;
    height: 600px;
}

.item1 {
    position: relative;
    overflow: hidden;

}

.item1 img {

    width: 350px;
    height: 500px;
}

.mangche {
    display: flex;
    background-color: #000;
    opacity: 0.5;
    width: 350px;
    height: 500px;
    top: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    margin-left: -400px;
}

.mangche a {
    text-decoration: none;
}

.tuvan {
    color: rgb(255, 255, 255);
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 300px;
    border: 2px solid white;
    font-size: 20px;
}

.item1:hover .mangche {
    opacity: 0.7;
    margin-left: 0px;
    transform: translatex(0%)
}

.mangche a:hover .tuvan {
    color: #000;
    opacity: 1;

    background-color: #ffffff;
}

.info {
    margin-top: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.info a span {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #b2abab;

}

.info a {
    text-decoration: none;

}

.info h4 {
    padding-top: 12px;
    font-size: 16px;

}

.dangkibangtien {
    margin-right: -10PX;
    width: 100%;
    background-color: #dcdcdb;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dangkibangtin {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dangkibangtinmail {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input[type="text"] {
    height: 40px;
    border: 1px solid rgb(93, 93, 93);
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.icon {
    font-size: 33px;
}

/* --------------------------------------------------------- */
@media (max-width:900px) {
    .center {
        display: flex;
        flex-direction: column;
    }
}

.facebook {
    color: #0015ff;
    text-decoration: none;
}

.instagram {
    padding-left: 10px;
    color: rgb(217, 46, 46);
}

.youtube {
    padding-left: 10px;
    color: rgb(254, 3, 3);
}

footer {
    bottom: 0;
}

.ft {
    display: flex;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    bottom: 0;
    line-height: 20px;
}

.ft .ft-left,
.ft .ft-center,
.ft .ft-right,
.ft_bank {
    display: inline-block;
    vertical-align: top;
}

.ft .ft-left {
    width: 30%;
}

.ft h3 {
    color: aliceblue;
    margin: 0;
}

.ft h3 span {
    color: black;
}

.ft .ft-link {
    color: #fffefe;
    margin: 20px 0 12px;
}

.ft .ft-link a {
    display: inline-block;
    line-height: 1.8;
    color: rgb(255, 205, 4);
}

.ft .copyright {
    color: rgb(171, 170, 169);
    font-size: 14px;
    margin-top: 20px;
}

.ft .ft-center {
    
    width: 20%;
    padding-top: 36px;
}

.ft .ft-center a {

    text-decoration: none;
    display: inline-block;
    color: rgb(171, 170, 169);
    margin: 0;

    font-size: 14px;
    justify-content: center;
}

.ft .ft-center a:hover {
    color: rgb(242, 242, 242);
}

.ft .ft-center {
    padding-left: 50px;
    width: 31%;
    padding-top: 35px;

}
.ft .ft-right {
    padding-left: 50px;
    width: 31%;
    padding-top: 35px;

}

.ft .ft-right a {

    text-decoration: none;
    display: inline-block;
    color: rgb(171, 170, 169);
    margin: 0;
    font-size: 14px;
}

.ft .ft-right a:hover {
    color: rgb(255, 255, 255);
}

iframe {
    width: 100%;
    height: 100%;
}

.ft_bank {
    padding-left: 30px;
    width: 20%;
    padding-top: 36px;
    display: inline-block;
    color: rgb(171, 170, 169);
    margin: 0;
    display: block;
    font-size: 14px;

    justify-content: center;
}


.ft_bank .imgbank {
    margin-top: 15px;
    width: 54px;
}

.ft_bank .bct {
    margin-top: 15px;
    width: 120px;
}

.sanphamtuongtu {
    width: 100%;
    display: flex;
}

@media (max-width:953px) {
    .sanphamtuongtu {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .thanhcongcu {
        margin-top: 0px;
    }

    .thanhtren {
        display: none;
    }

    input[type="text"] {
        height: 40px;
        border: 1px solid rgb(93, 93, 93);
        width: 300px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
    }

    .homeicontimkiem {
        justify-content: flex-end;
        flex-direction: row;
    }

    .taikhoan {
        display: none;
    }

    .navbar {
        font-size: 29px;
        margin-top: 15px;
        display: flex;
    }

    .rectangle {
        display: none;
    }

    .giohang {
        margin-top: 13px;
        padding-right: 10px;
    }

    .giohang .shopping {
        display: none;
    }

    .icontimkiem {
        display: none;
    }

    .thanhcongcu .menu {
        display: none;
    }

}

@media (max-width:1223px) {
    .thanhcongcu .menu {
        display: none;
    }

    .imgcenter_left {

        display: none;

    }

    .imgcenter_right img {
        padding-left: 30px;
        width: 150%;
    }

    .infocenter {
        width: 100%;
    }

    .divinfo {

        font-size: 14px;
        text-align: center;
    }

    .divinfo-5 {
        padding-left: 10px;
    }

    .divinfo-1 {
        margin-top: 0px;
        text-align: center;
    }

    .divinfo-3 {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
    }

    .divinfo-4 {
        padding-left: 10px;
    }

    .color {
        margin-left: 10px;

    }

    .selectsize {
        padding-left: 10px;
    }

    .size {
        padding-left: 10px;
    }

    .number {
        padding-left: 10px;
    }

    .dathang {
        padding-left: 10px;
    }

    .mota {
        padding-left: 10px;

    }

    .imgslider {
        margin-left: 0px;
    }
    .ft .ft-center {
        padding-left: 0;
        width: 31%;
        padding-top: 30px;
    
    }
    .ft .ft-right {
        padding-left: 0;
        width: 31%;
        padding-top: 35px;
    
    }
    .ft {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 16px 20px 37px 16px;
    }

    .ft .ft-left {
        width: 50%;
    }

    .ft .ft-right {

        width: 50%;
    }

    .ft .ft-.center {
        width: 50%;
    }

    .ft .ft-center {
        width: 50%;
        padding-top: 44px;
        padding-left: 30px;
    }

    .ft .ft_bank {
        /* margin-left: 110px; */
        width: 50%;
    }
    input[type="text"] {
        height: 40px;
        border: 1px solid rgb(93, 93, 93);
        width: 180px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
    }
}
/* Style the label container */
.custom-radio {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px; /* Điều chỉnh khoảng cách giữa các nút radio */
}

/* Ẩn radio button mặc định */
.custom-radio input[type="radio"] {
    display: none;
}

/* Style radio button vuông */
.custom-radio .radio-square {
    cursor: pointer;
    display: inline-block;
    width: 90px; /* Điều chỉnh kích thước rộng */
    height: 45px; /* Điều chỉnh kích thước cao */
    border: 2px solid #525252; /* Màu của đường viền */
    position: relative;
}

/* Style radio button khi được chọn */
.custom-radio input[type="radio"]:checked + .radio-square {
    background-color: #d1d1d1; /* Màu nền khi được chọn */
    border-color: #000000; /* Màu của đường viền khi được chọn */
}

/* Style văn bản của label */
.custom-radio span {
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    /* Điều chỉnh nếu cần */
    vertical-align: middle;
    font-size: 19px; /* Điều chỉnh nếu cần */
    color: #333; /* Màu của văn bản */
}
.soluong{
    margin-top: 20px;
}


     .menu-items {
        display: none;
        position: absolute;
        transform: translate(50%, -50%);
        right: 50%;
        top: 60%;
        transition: 0.5s ease-in;
        z-index: 2; /* Ensure menu is above overlay */
    }
    
    .menu-items img {
        border-radius: 10px;
        box-shadow: 0 0 10px #000;
    }
    
    .menu-items.show-menu {
        display: block;
    }
    
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 3;
    }
    
    .lines {
        z-index: 4;
    }
    
